@font-face {
  font-family: 'Montserrat Bold';
  src: url('../../fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoSlab';
  src: url('../../fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'OleoScript';
  src: url('../../fonts/OleoScript-Regular.ttf') format('truetype');
}

.modal-body {
  background-color: #254e58;
  color: whitesmoke;
  font-family: "Montserrat";
}

.modal-header {
  background-color: #88bdbc;
  color: #254e58;
  font-family: "Montserrat Bold";
  font-weight: bolder;
  font-size: 45px;
}

.modal-footer {
  background-color: #88bdbc;
  color: #254e58;
  justify-content: center;
  font-family: "OleoScript";
  font-size: 25px;
}

.modal-genFormat {
  border: 3px solid black;
  line-height: 30px;
}